<ion-header>
  <ion-toolbar>
    <ion-title>Update Group</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #editGroupForm="ngForm" (ngSubmit)="onSubmit(editGroupForm)">

    <ion-item>
      <ion-label position="floating">Short Description</ion-label>
      <ion-input type="text" name="shortDescription" [(ngModel)]="group.shortDescription" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Long Description</ion-label>
      <ion-input type="text" name="longDescription" [(ngModel)]="group.longDescription" required></ion-input>
    </ion-item>

    <ng-multiselect-dropdown placeholder="'Select all permissions that apply'" [settings]="dropdownSettings"
      [data]="permissions" name="permissions" [(ngModel)]="selectedPermissions" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>


    <ion-button type="submit" expand="block" color="success">Update Group</ion-button>
  </form>
</ion-content>
