<ion-content color="light"  class="ion-padding">

  <ion-list>
    <ion-row wrap>
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let group of groups"
      >
        <ion-card class="group-card">
          <ion-card-header>
            <ion-card-title
              >{{ group.shortDescription }}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content class="card-content">
            <p>group</p>
            <div class="custom-buttons">
              <ion-button color="secondary" (click)="editGroup(group)"
                >Edit</ion-button
              >
              <ion-button color="danger" (click)="deleteGroup(group.id)"
                >Delete</ion-button
              >
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

  <app-no-data *ngIf="groups.length === 0" [name]="'Groups'"></app-no-data>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" (click)="openAddGroupModal()" expand="block">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
