<ion-header>
  <ion-toolbar>
    <ion-title>Update User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #editUserForm="ngForm" (ngSubmit)="onSubmit(editUserForm)">

    <ion-item>
      <ion-label position="floating">UserName</ion-label>
      <ion-input type="text" name="userName" [(ngModel)]="user.userName" required [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="user.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" name="surname" [(ngModel)]="user.surname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle name="emailConfirmed" [(ngModel)]="user.emailConfirmed">Confirmed Email</ion-toggle>
    </ion-item>

    <ng-multiselect-dropdown placeholder="'Select all groups that apply'" [settings]="dropdownSettings"
      [data]="groups" name="groups" [(ngModel)]="selectedGroups" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>

    <ion-button type="submit" expand="block" color="success">Update User</ion-button>
  </form>
</ion-content>
