<ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">

    <ion-item>
      <ion-label position="floating">UserName</ion-label>
      <ion-input type="text" name="userName" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" name="surname" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-toggle name="emailConfirmed" ngModel>Confirmed Email</ion-toggle>
    </ion-item>

    <ng-multiselect-dropdown placeholder="'Select all groups that apply'" [settings]="dropdownSettings"
      [data]="groups" name="groups" [(ngModel)]="selectedGroups" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>

    <ion-button type="submit" expand="block" color="success">Add User</ion-button>
  </form>
</ion-content>
