<ion-header>
  <ion-toolbar>
    <ion-title>Add Group</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <form #groupForm="ngForm" (ngSubmit)="addGroup(groupForm)">

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" name="shortDescription" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Long Description</ion-label>
      <ion-input type="text" name="longDescription" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Permissions</ion-label>
      <ion-select aria-label="Fruit" placeholder="Select all permissions that apply" [multiple]="true">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button type="submit" expand="block" color="success">Add Group</ion-button>
  </form>
</ion-content>
